@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans" "Courier New", Courier, monospace; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#007bb2, #0d1423); }

.card {
  position: relative;
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25); }
  .card:hover {
    bottom: 0; }
    .card:hover .poster::before {
      bottom: 0; }
    .card:hover .poster img {
      transform: translateY(-50px);
      filter: blur(5px); }
    .card:hover .details {
      bottom: 40px; }
  .card .poster {
    position: relative;
    overflow: hidden; }
    .card .poster::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #1064a6 50%, transparent);
      transition: 0.5s;
      z-index: 1;
      bottom: -180px; }
    .card .poster img {
      width: 100%;
      transition: 0.5s; }
  .card .details {
    position: absolute;
    bottom: -215px;
    left: 0;
    padding: 20px;
    z-index: 2;
    transition: 0.5s; }
    .card .details .logo {
      max-width: 180px; }
    .card .details h3 {
      font-size: 14px;
      color: #fff;
      font-size: 0.8em; }
    .card .details .rating {
      position: relative;
      padding: 5px; }
      .card .details .rating i {
        color: #f7f406;
        font-size: 1em; }
      .card .details .rating span {
        color: #fff; }
    .card .details .tags span {
      padding: 2px 5px;
      color: #fff;
      background: #03a8f5;
      border-radius: 4px; }
      .card .details .tags span:nth-child(2) {
        background: #ff5722; }
    .card .details .info {
      margin-top: 10px;
      color: #fff; }
    .card .details .cast {
      position: relative; }
      .card .details .cast h4 {
        font-size: 1.5em;
        color: #fff;
        margin-top: 10px; }
      .card .details .cast ul {
        display: flex;
        list-style: none;
        gap: 30px;
        margin-top: 10px; }
        .card .details .cast ul li {
          width: 35px;
          height: 35px;
          overflow: hidden;
          border-radius: 50%; }
          .card .details .cast ul li img {
            width: 100%; }
